### Домашнее задание к лекции «Базовые понятия статистики»

#### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: 

surgery?, 
 Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_main = pd.read_csv('C:\\Users\\Ryzen\\Desktop\\DataSet\\Data Analyst\\12_Python_statistics_base_concept\\исходники\\horse_data.csv', header = None, sep = ",")
df_main.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [3]:
# Присвоить столбцам названия:
# surgery? - 0, Age - 1, rectal temperature - 3, pulse - 4, 
# respiratory rate - 5, temperature of extremities - 6, pain - 10, 
# outcome - 22
df_main = pd.read_csv(
    'C:\\Users\\Ryzen\\Desktop\\DataSet\\Data Analyst\\12_Python_statistics_base_concept\\исходники\\horse_data.csv', 
    header = None, sep = ",", thousands=',', usecols=[0,1,3,4,5,6,10,22], 
    names=[
        'surgery?', 'Age', 'rectal temperature',
        'pulse', 'respiratory rate', 'temperature of extremities',
        'pain', 'outcome'
    ])
df_main

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2
...,...,...,...,...,...,...,...,...
295,1,1,?,120,70,4,2,3
296,2,1,37.20,72,24,3,4,3
297,1,1,37.50,72,30,4,4,2
298,1,1,36.50,100,24,3,3,1
299,1,1,37.2,40,20,?,?,3

#### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [4]:
# определить тип данных в столбцах
df_main.dtypes

surgery?                      object
Age                            int64
rectal temperature            object
pulse                         object
respiratory rate              object
temperature of extremities    object
pain                          object
outcome                       object
dtype: object

In [5]:
# Замена символа "?"
df_main = df_main.replace("?", "NaN")
df_main

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,NaN,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,NaN,NaN,2
...,...,...,...,...,...,...,...,...
295,1,1,NaN,120,70,4,2,3
296,2,1,37.20,72,24,3,4,3
297,1,1,37.50,72,30,4,4,2
298,1,1,36.50,100,24,3,3,1
299,1,1,37.2,40,20,NaN,NaN,3

In [6]:
# перевод данных в числа с плавающей точкой
df_main = df_main.astype(float)
df_main

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1.0,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1.0,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1.0,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1.0,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1.0,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1.0,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1.0,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1.0,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1.0,37.2,40.0,20.0,NaN,NaN,3.0

In [7]:
# проверка типа данных
df_main.dtypes

surgery?                      float64
Age                           float64
rectal temperature            float64
pulse                         float64
respiratory rate              float64
temperature of extremities    float64
pain                          float64
outcome                       float64
dtype: object

In [8]:
# вывод значений датафрейма с двумя знаками после запятой
round(df_main.describe(), 2)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.00,300.00,240.00,276.00,242.00,244.00,245.00,299.00
mean,1.40,1.64,38.17,71.91,30.42,2.35,2.95,1.55
std,0.49,2.17,0.73,28.63,17.64,1.05,1.31,0.74
min,1.00,1.00,35.40,30.00,8.00,1.00,1.00,1.00
25%,1.00,1.00,37.80,48.00,18.50,1.00,2.00,1.00
50%,1.00,1.00,38.20,64.00,24.50,3.00,3.00,1.00
75%,2.00,1.00,38.50,88.00,36.00,3.00,4.00,2.00
max,2.00,9.00,40.80,184.00,96.00,4.00,5.00,3.00

In [9]:
# определение выбросов
Q1 = df_main.quantile(0.25)
Q3 = df_main.quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR) 
upper_bound = Q3 + (1.5 * IQR)

In [10]:
# суммирование количества выбрасов в столбцах
((df_main < lower_bound) | (df_main > upper_bound)).sum()

surgery?                       0
Age                           24
rectal temperature            14
pulse                          5
respiratory rate              17
temperature of extremities     0
pain                           0
outcome                        0
dtype: int64

In [11]:
# вывод датафрейма, True указывает на местонахождение выброса
((df_main < lower_bound) | (df_main > upper_bound)).head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,True,False,True,True,False,False,False
4,False,False,False,False,False,False,False,False

#### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [12]:
# Расчет количества пропусков:
df_main.isnull().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [13]:
# список долей пропусков в каждом из столбцов (%)
(df_main.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [14]:
# Метод А - удаления всех пропусков: 
df_main.dropna().info()
# Выводы: теряем около 50% данных.
# Необходимо сделасть проверку метода по базовым статистикам
# Гипотеза: Если расхождение значений статистик до 10% - Метод возможен для применения

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    154 non-null    float64
 1   Age                         154 non-null    float64
 2   rectal temperature          154 non-null    float64
 3   pulse                       154 non-null    float64
 4   respiratory rate            154 non-null    float64
 5   temperature of extremities  154 non-null    float64
 6   pain                        154 non-null    float64
 7   outcome                     154 non-null    float64
dtypes: float64(8)
memory usage: 10.8 KB

In [15]:
# Рассмотрим метод А - удаления всех пропусков:
print(round(df_main.describe(), 2))
print('---------------------------')
print(round(df_main.dropna().describe(), 2))

# Вывод: В случае удаления всех пропусков базовые статистики меняются в допустимых пределах
# Максимальное отклонение: 
# mean (temperature of extremities): (2,22/2,35-1)*100% = 6%
# std (pain): (1,22/1,31-1)*100% = 7%
# Расхождение выборочных значений статистик меньше 10%. Метод возможен для использования

       surgery?     Age  rectal temperature   pulse  respiratory rate  \
count    299.00  300.00              240.00  276.00            242.00
mean       1.40    1.64               38.17   71.91             30.42
std        0.49    2.17                0.73   28.63             17.64
min        1.00    1.00               35.40   30.00              8.00
25%        1.00    1.00               37.80   48.00             18.50
50%        1.00    1.00               38.20   64.00             24.50
75%        2.00    1.00               38.50   88.00             36.00
max        2.00    9.00               40.80  184.00             96.00

       temperature of extremities    pain  outcome
count                      244.00  245.00   299.00
mean                         2.35    2.95     1.55
std                          1.05    1.31     0.74
min                          1.00    1.00     1.00
25%                          1.00    2.00     1.00
50%                          3.00    3.00     1.00
75%                          3.00    4.00     2.00
max                          4.00    5.00     3.00
---------------------------
       surgery?     Age  rectal temperature   pulse  respiratory rate  \
count    154.00  154.00              154.00  154.00            154.00
mean       1.44    1.62               38.16   70.84             29.65
std        0.50    2.15                0.73   29.61             16.12
min        1.00    1.00               35.40   36.00              9.00
25%        1.00    1.00               37.80   48.00             18.00
50%        1.00    1.00               38.20   60.00             27.00
75%        2.00    1.00               38.50   88.00             36.00
max        2.00    9.00               40.80  184.00             88.00

       temperature of extremities    pain  outcome
count                      154.00  154.00   154.00
mean                         2.22    2.69     1.48
std                          1.06    1.22     0.70
min                          1.00    1.00     1.00
25%                          1.00    2.00     1.00
50%                          2.50    3.00     1.00
75%                          3.00    3.00     2.00
max                          4.00    5.00     3.00

In [20]:
# Сформировать датафрейм, в котором пропуски будут отсутствовать:
df_main.dropna().head(10)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1.0,38.5,66.0,28.0,3.0,5.0,2.0
2,2.0,1.0,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
6,1.0,1.0,37.9,48.0,16.0,1.0,3.0,1.0
10,1.0,1.0,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1.0,39.1,72.0,52.0,2.0,2.0,1.0
12,1.0,1.0,37.2,42.0,12.0,2.0,3.0,1.0
13,2.0,9.0,38.0,92.0,28.0,1.0,1.0,2.0
14,1.0,1.0,38.2,76.0,28.0,3.0,3.0,1.0
15,1.0,1.0,37.6,96.0,48.0,3.0,5.0,2.0

In [16]:
# Рассмотрим метод Б - удаления строк, в которых как минимум 7/8 значений заполнено 
df_main.dropna(thresh=7).info()

#Выводы: теряем от 23% до 30% данных.
# Необходимо сделасть проверку метода по базовым статистикам
# Гипотеза: Если расхождение значений статистик до 10% - Метод возможен для применения

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    231 non-null    float64
 1   Age                         231 non-null    float64
 2   rectal temperature          208 non-null    float64
 3   pulse                       228 non-null    float64
 4   respiratory rate            210 non-null    float64
 5   temperature of extremities  216 non-null    float64
 6   pain                        216 non-null    float64
 7   outcome                     231 non-null    float64
dtypes: float64(8)
memory usage: 16.2 KB

In [17]:
# Рассмотрим метод Б - удаления строк, в которых как минимум 7/8 значений заполнено:
print(round(df_main.describe(), 2))
print('---------------------------')
print(round(df_main.dropna(thresh=7).describe(), 2))

# Вывод: В случае удаления всех пропусков базовые статистики меняются в допустимых пределах
# Максимальное отклонение: 
# mean (temperature of extremities): (2,29/2,35-1)*100% = 3%
# std (pain): (1,26/1,31-1)*100% = 4%
# Расхождение выборочных значений статистик меньше 10%. 
# Метод Б лучше метода А на 50%
# Метод Б возможен для использования

       surgery?     Age  rectal temperature   pulse  respiratory rate  \
count    299.00  300.00              240.00  276.00            242.00
mean       1.40    1.64               38.17   71.91             30.42
std        0.49    2.17                0.73   28.63             17.64
min        1.00    1.00               35.40   30.00              8.00
25%        1.00    1.00               37.80   48.00             18.50
50%        1.00    1.00               38.20   64.00             24.50
75%        2.00    1.00               38.50   88.00             36.00
max        2.00    9.00               40.80  184.00             96.00

       temperature of extremities    pain  outcome
count                      244.00  245.00   299.00
mean                         2.35    2.95     1.55
std                          1.05    1.31     0.74
min                          1.00    1.00     1.00
25%                          1.00    2.00     1.00
50%                          3.00    3.00     1.00
75%                          3.00    4.00     2.00
max                          4.00    5.00     3.00
---------------------------
       surgery?     Age  rectal temperature   pulse  respiratory rate  \
count    231.00  231.00              208.00  228.00            210.00
mean       1.42    1.59               38.16   71.04             30.16
std        0.49    2.09                0.72   27.84             16.90
min        1.00    1.00               35.40   36.00              8.00
25%        1.00    1.00               37.80   48.00             20.00
50%        1.00    1.00               38.10   64.00             27.00
75%        2.00    1.00               38.50   88.00             36.00
max        2.00    9.00               40.80  184.00             90.00

       temperature of extremities    pain  outcome
count                      216.00  216.00   231.00
mean                         2.29    2.83     1.52
std                          1.05    1.26     0.74
min                          1.00    1.00     1.00
25%                          1.00    2.00     1.00
50%                          3.00    3.00     1.00
75%                          3.00    4.00     2.00
max                          4.00    5.00     3.00

In [19]:
# Сформировать датафрейм, в котором пропуски будут отсутствовать:
df_main.dropna(thresh=7).head(10)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1.0,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1.0,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1.0,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
6,1.0,1.0,37.9,48.0,16.0,1.0,3.0,1.0
8,2.0,1.0,NaN,80.0,36.0,3.0,4.0,3.0
9,2.0,9.0,38.3,90.0,NaN,1.0,5.0,1.0
10,1.0,1.0,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1.0,39.1,72.0,52.0,2.0,2.0,1.0
12,1.0,1.0,37.2,42.0,12.0,2.0,3.0,1.0