### Домашнее задание «Функции и работа с данными»

#### **Домашнее задание к лекции.

#### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('C:\\Users\\Ryzen\\Desktop\\DataSet\\Data Analyst\\2_library_Pandas\\ml-latest-small\\ratings.csv')
movies = pd.read_csv('C:\\Users\\Ryzen\\Desktop\\DataSet\\Data Analyst\\2_library_Pandas\\ml-latest-small\\movies.csv')

In [3]:
ratings_merge_movies = ratings.merge(movies, on = ["movieId"], how = 'inner')
p = ratings_merge_movies.pivot_table(index = ['title','movieId'], values = 'rating', aggfunc = 'mean')
p.head()

                                                 rating
title                                   movieId
'71 (2014)                              117867      4.0
'Hellboy': The Seeds of Creation (2004) 97757       4.0
'Round Midnight (1986)                  26564       3.5
'Salem's Lot (2004)                     27751       5.0
'Til There Was You (1997)               779         4.0

In [4]:
p = p.reset_index()

In [5]:
def class_function(rat):
    if rat <= 2:
        return 'низкий рейтинг'
    elif rat <= 4 and rat > 2:
        return 'средний рейтинг'
    elif rat == 4.5 or rat == 5.0:
        return 'высокий рейтинг'

In [6]:
p['class'] = p['rating'].apply(class_function)
p.head()

                                     title  movieId  rating            class
0                               '71 (2014)   117867     4.0  средний рейтинг
1  'Hellboy': The Seeds of Creation (2004)    97757     4.0  средний рейтинг
2                   'Round Midnight (1986)    26564     3.5  средний рейтинг
3                      'Salem's Lot (2004)    27751     5.0  высокий рейтинг
4                'Til There Was You (1997)      779     4.0  средний рейтинг

#### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [7]:
import pandas as pd

In [8]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] 
}

In [9]:
df = pd.read_csv('C:\\Users\\Ryzen\\Desktop\\DataSet\\Data Analyst\\09_Functions_and_data_working\\ml-latest-small\\keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [10]:
towns=[]
for values in geo_data.values():
    for i in values:
        towns.append(i)
towns

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [11]:
def region_in_keyword(row):
    data=row['keyword'].split(' ')
    i=0
    for word in data:
        if word in towns:
            for items in geo_data.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i not in towns:
        return 'undefined'

In [12]:
df['region'] = df.apply(region_in_keyword, axis=1)
df.head(10)

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined

In [13]:

df[(df['region']!='undefined')].head(10)

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад
1259                    москва  153050           Центр
1346           санкт петербург  144232    Северо-Запад
1396           гисметео москва  140279           Центр
1482          госуслуги москва  133061           Центр
1579                авито тула  126168           Центр

In [14]:
# метод .update производит дополнение одного словаря другим, добавляя (если ключа нет) или перезаписывая (если ключ есть) значения ключей исходного словаря
# Функция zip() Объединяет элементы последовательностей в список кортежей
# Функция map() выполняет пользовательскую функцию для каждого элемента последовательности, коллекции или итератора
# Функция fillna() автоматически найдет и заменит все значения NaN в DataFrame
# Append(): добавить объект в конец списка
# Pandas.apply позволяет пользователям передавать функцию и применять ее к каждому значению серии Pandas.

#### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1.В переменную years запишите список из всех годов с 1950 по 2010.

2.Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

- для каждой строки пройдите по всем годам списка years
- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3.Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4.Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга